.chat {
  background-color: var(--cg-secondary);
  /* min-width: 200px;
  max-width: 400px; */
  width: 350px;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.input-wrapper {
  border-top: 2px solid var(--cg-primary);
  padding: 1rem;

  ul {
    list-style: none;
    padding-left: 10px;
    border-left: 1px solid var(--cg-primary);
    margin-top: 0;
    max-height: 200px;
    overflow-y: auto;
  }

  li span {
    display: flex;
    gap: 5px;
  }

  li button {
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
  }

  li img {
    width: 15px;
    height: auto;
  }
}

.input-container {
  padding: 0 1rem 0 0;
  background-color: var(--cg-white);
  border-radius: 5px;
  display: flex;
  gap: 0.5rem;

  label[for='file-upload'] {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 20px;

    img {
      width: 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    :hover {
      cursor: pointer;
    }
  }

  input[type='file'] {
    display: none;
  }

  textarea {
    flex: 1;
    background-color: var(--cg-white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    resize: none;
  }

  textarea:focus {
    outline: none;
    border: none;
  }

  input[type='submit'] {
    border-radius: 5px;
    background-image: url('/send-icon.png');
    background-color: transparent;
    border: none;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  input[type='submit']:hover {
    transform: scale(1.1);
  }
}

.message {
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  margin-block: 0 5px;
}

.message:empty {
  min-height: calc(1em + 10px);
  width: 10%;
}

.message :first-child {
  margin-top: 0;
}

.message :last-child {
  margin-bottom: 0;
}

.message pre {
  overflow-x: auto;
  padding: 10px;
  background-color: var(--cg-black);
  color: var(--cg-secondary);
}

.message.human {
  background-color: var(--cg-primary);
  color: var(--cg-white);
  margin-left: auto;
}

.message.bot {
  background-color: var(--cg-white);
}

.group-header {
  color: var(--cg-black);
  font-size: 12px;
}

.group-header.human {
  text-align: right;
}
