.chat {
  background-color: var(--cg-primary);
  padding: 1rem;
  min-width: 200px;
  overflow-y: scroll;
}

.message {
  border-radius: 5px;
  padding: 5px;
  width: 80%;
}

.human {
  background-color: var(--cg-secondary);
  margin-left: auto;
}

.bot {
  background-color: var(--cg-white);
}
