.chat {
  background-color: var(--cg-secondary);
  padding: 1rem;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.message {
  border-radius: 5px;
  padding: 5px 10px;
  width: 80%;
  margin-block: 0 5px;
}

.message:last-child {
  margin-bottom: 0;
}

.message.human {
  background-color: var(--cg-primary);
  color: var(--cg-white);
  margin-left: auto;
}

.message.bot {
  background-color: var(--cg-white);
}

.group-header {
  color: var(--cg-black);
  font-size: 12px;
}

.group-header.human {
  text-align: right;
}
