.chat {
  background-color: var(--cg-secondary);
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.input-wrapper {
  border-top: 2px solid var(--cg-primary);
  padding: 1rem;
}

.input-container {
  padding: 0 1rem 0 0;
  background-color: var(--cg-white);
  border-radius: 5px;
  display: flex;
  gap: 0.5rem;

  textarea {
    flex: 1;
    background-color: var(--cg-white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    resize: none;
  }

  textarea:focus {
    outline: none;
    border: none;
  }

  input[type='submit'] {
    border-radius: 5px;
    background-image: url('/send-icon.png');
    background-color: transparent;
    border: none;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  input[type='submit']:hover {
    transform: scale(1.1);
  }
}

.message {
  border-radius: 5px;
  padding: 5px 10px;
  width: 80%;
  margin-block: 0 5px;
}

.message:last-child {
  margin-bottom: 0;
}

.message.human {
  background-color: var(--cg-primary);
  color: var(--cg-white);
  margin-left: auto;
}

.message.bot {
  background-color: var(--cg-white);
}

.group-header {
  color: var(--cg-black);
  font-size: 12px;
}

.group-header.human {
  text-align: right;
}
